.faq-contact {
  background: var(--blue-grey-700);
  @include grid-container(4em);
  justify-content: center;
  .faq-headline {
    @include grid-container(2em);
    color: #fff;
    justify-content: center;
    text-align: center;
    // max-width: 100ch;
    h1 {
      font-size: 3.25rem;
    }
    p {
      font-size: 1.25rem;
      font-weight: 300;
      line-height: 1.5;
    }
  }
  .faq-contact-form {
    @include grid-container(1em);

    .submit-btn {
      grid-column: 1 / span 2;
      @extend .green-bg;
    }
    .check {
      @extend .flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      span {
        margin: 1em;
        color: #fff;
      }
    }
  }
}

@media only screen and (min-width: 0px) {
  .faq-contact {
    .faq-contact-form {
      grid-template-columns: 1fr;
    }
  }
}

@media only screen and (min-width: 500px) {
  .faq-contact {
    .faq-contact-form {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
