.primary-highlight {
  color: $primary;
}

.secondary-highlight {
  color: $secondary;
}

.success-highlight {
  color: $success;
}

.warning-highlight {
  color: $warning;
}

.danger-highlight {
  color: $danger;
}

.primary-bg {
  background-color: $primary;
  color: #fff;
}

.secondary-bg {
  background-color: $secondary;
  color: #fff;
}

.success-bg {
  background-color: $success;
  color: #fff;
}

.warning-bg {
  background-color: $warning;
  color: #fff;
}

.danger-bg {
  background-color: $danger;
  color: #fff;
}
